<!-- <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>See what’s new</p>
          <h2>Buy What’s New</h2>
        </div>
      </div>
    </div>

    
  </div>
</section>
 -->
<section class="has-fluid bg-gray section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>Real Maravilloso</p>
          <h2>Photo Galley</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row wow fadeInUp" data-wow-delay="300ms">
      <a
        href="../../../assets/img/about/ap-1.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-1.jpg"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="../../../assets/img/about/ap-2.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-2.jpg"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="../../../assets/img/about/ap-3.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-3.jpg"
          class="img-fluid rounded"
        />
      </a>
    </div>
    <div class="row">
      <a
        href="../../../assets/img/about/ap-4.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-4.jpg"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="../../../assets/img/about/ap-6.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-6.jpg"
          class="img-fluid rounded"
        />
      </a>
      <a
        href="../../../assets/img/about/ap-7.jpg"
        data-toggle="lightbox"
        data-gallery="gallery"
        class="col-md-4"
      >
        <img
          src="../../../assets/img/about/ap-7.jpg"
          class="img-fluid rounded"
        />
      </a>
    </div>
  </div>
</section>
