<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="section-heading style-2 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <p>Real Maravilloso</p>
          <h2>Photo Gallery</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="albums-slideshow owl-carousel">
          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-1.jpg" alt="" />
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-2.jpg" alt="" />
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-3.jpg" alt="" />
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-4.jpg" alt="" />
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-6.jpg" alt="" />
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../assets/img/about/ap-7.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
