<!-- ##### Breadcumb Area Start ##### -->
<section
  id="real-maravilloso-videos"
  class="breadcumb-area bg-img bg-overlay wow fadeInUp"
  style="background-image: url(../../../assets/img/bg-img/breadcumb3.jpg)"
  data-wow-delay="300ms"
>
  <div class="bradcumbContent">
    <p>In Studio</p>
    <h2>VIDEOS</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Events Area Start ##### -->
<section class="events-area section-padding-100">
  <div class="container">
    <div class="row">
      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-making.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango Presentation</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=gkR5NEVKrmM?autoplay=1"
                class="event-place"
                >Making of (short version 47s)</a
              >
              <a
                href="https://www.youtube.com/watch?v=gkR5NEVKrmM?autoplay=1"
                class="event-date"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=gkR5NEVKrmM?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-making-lv.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango Presentation</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=yjrpGaXCLqA?autoplay=1"
                class="event-place"
                >Making of (long version 27:45)</a
              >
              <a
                href="https://www.youtube.com/watch?v=yjrpGaXCLqA?autoplay=1"
                class="event-date"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=yjrpGaXCLqA?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-bayamos.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango record cession</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=NTYz5djfE2A?autoplay=1"
                class="event-place"
                >A Bayamo en Coche</a
              >
              <a
                href="https://www.youtube.com/watch?v=NTYz5djfE2A?autoplay=1"
                class="event-date"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=NTYz5djfE2A?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-cicutatibia.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango record cession</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=YMNIhYZ5Kk8?autoplay=1"
                class="event-place"
                >Cicutatibia</a
              >
              <a
                href="https://www.youtube.com/watch?v=YMNIhYZ5Kk8?autoplay=1"
                class="event-date"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=YMNIhYZ5Kk8?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-cantos.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango record cession</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=9HmAotRIWVw?autoplay=1"
                class="event-place video--play--btn"
                >Cantos a Shango</a
              >
              <a
                href="https://www.youtube.com/watch?v=9HmAotRIWVw?autoplay=1"
                class="event-date"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=9HmAotRIWVw?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="single-event-area mb-30 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="event-thumbnail">
            <img src="../../../assets/img/youtube/350-acelerao.jpg" alt="" />
          </div>
          <div class="event-text">
            <h4>Shango record cession</h4>
            <div class="event-meta-data">
              <a
                href="https://www.youtube.com/watch?v=M5n2Xd08C5w?autoplay=1"
                class="event-place video--play--btn"
                >Aceleráo</a
              >
              <a
                href="https://www.youtube.com/watch?v=M5n2Xd08C5w?autoplay=1"
                class="event-date video--play--btn"
                >In Studio</a
              >
            </div>
            <a
              href="https://www.youtube.com/watch?v=M5n2Xd08C5w?autoplay=1"
              class="btn see-more-btn video--play--btn"
              ><i class="fa fa-play"></i> PLAY</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Events Area End ##### -->
