<!-- ##### Buy Now Area Start ##### -->
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>Videos</p>
          <h2>EN CONCIERTO</h2>
        </div>
      </div>
    </div>

    <!-- ##### Add Area Start ##### -->
    <div class="add-area mb-100 section-heading">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="adds">
              <iframe
                width="90%"
                height="315"
                src="https://www.youtube.com/embed/5Sczt6zSwLI?si=qcvCew2kJnVgw1IN"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Add Area End ##### -->

    <div class="row">
      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/tropical.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=QgKtvfJn2Zo?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info align-items-center">
            <a href="https://www.youtube.com/watch?v=QgKtvfJn2Zo?autoplay=1">
              <h5>Fiesta Tropical</h5>
            </a>
            <p>Con Victor López</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/banda.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=fY0Jmureggg?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info">
            <a href="https://www.youtube.com/watch?v=fY0Jmureggg?autoplay=1">
              <h5>BANDA</h5>
            </a>
            <p>Real Maravilloso</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/rusticana.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=wHG_PtrWMMU?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info">
            <a href="https://www.youtube.com/watch?v=wHG_PtrWMMU?autoplay=1">
              <h5>CAVALLERIA RUSTICANA</h5>
            </a>
            <p>Intermezzo de Cavalleria Rusticana</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/manteca.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=c-RyjDoiIBs?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info">
            <a href="https://www.youtube.com/watch?v=c-RyjDoiIBs?autoplay=1">
              <h5>Proyecto Real Maravilloso</h5>
            </a>
            <p>MANTECA Chano Pozo y Dizzie Gillespie</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/Contigo2.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=RjL3FQfa5OI?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info">
            <a href="https://www.youtube.com/watch?v=RjL3FQfa5OI?autoplay=1">
              <h5>Concierto en "RTV Comercial"</h5>
            </a>
            <p>Concierto Estamos Contigo</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="../../../assets/img/videos/malaika.jpg" alt="" />

            <!-- Play Icon -->
            <div class="play-icon">
              <a
                href="https://www.youtube.com/watch?v=m69RAolxfyk?autoplay=1"
                class="video--play--btn"
                ><span class="icon-play-button"></span
              ></a>
            </div>
          </div>
          <div class="album-info">
            <a href="https://www.youtube.com/watch?v=m69RAolxfyk?autoplay=1">
              <h5>Concierto en TV</h5>
            </a>
            <p>Real Maravilloso Malaika</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Buy Now Area End ##### -->
